---
import { menuConfig } from '@config/menu'
import Logo from './ui/icons/Logo.astro'

const footerMenuItems = menuConfig.footer
const footerLinks = menuConfig.footerLinks
---

<nav>
  <ul>
    {
      footerMenuItems.map((item) => (
        <li>
          <a href={item.href} id={item.id || undefined}>
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<footer>
  <div class='footer'>
    <div class='flex'>
      <Logo class='footer-logo' />
      {
        footerLinks.project && (
          <>
            <a
              href={footerLinks.project.url}
              target='_blank'
              rel='noopener noreferrer'
            >
              {footerLinks.project.name}
            </a>
            {footerLinks.author && <p>by</p>}
          </>
        )
      }
      {
        footerLinks.author && (
          <a
            href={footerLinks.author.url}
            target='_blank'
            rel='noopener noreferrer'
          >
            {footerLinks.author.name}
          </a>
        )
      }
    </div>
    <div class='flex'>
      {
        footerLinks.website && (
          <a
            href={footerLinks.website.url}
            target='_blank'
            rel='noopener noreferrer'
          >
            {footerLinks.website.name}
          </a>
        )
      }
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--bg-tertiary, rgb(44 44 44));
    color: var(--text-primary, white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-logo {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    color: var(--text-primary, white);
  }

  a {
    color: var(--text-secondary, white);
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover {
      text-decoration: underline;
      color: var(--text-primary, white);
    }
  }

  ul {
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--bg-secondary, whitesmoke);
    transition: background-color 0.3s ease;
    overflow: hidden;
    flex-wrap: wrap;

    a {
      color: var(--text-primary, rgba(6, 6, 6, 0.854));
      transition: color 0.2s ease;
    }

    &:hover a {
      color: var(--text-primary, rgb(6, 6, 6));
    }
  }
</style>
