---
import { menuConfig } from '@config/menu'

const footerMenuItems = menuConfig.footer
const footerLinks = menuConfig.footerLinks
---

<nav>
  <ul>
    {
      footerMenuItems.map((item) => (
        <li>
          <a href={item.href} id={item.id || undefined}>
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<footer>
  <div class='footer'>
    <div class='flex'>
      {
        footerLinks.project && (
          <>
            <a
              href={footerLinks.project.url}
              target='_blank'
              rel='noopener noreferrer'
            >
              {footerLinks.project.name}
            </a>
            {footerLinks.author && <p>by</p>}
          </>
        )
      }
      {
        footerLinks.author && (
          <a
            href={footerLinks.author.url}
            target='_blank'
            rel='noopener noreferrer'
          >
            {footerLinks.author.name}
          </a>
        )
      }
    </div>
    <div class='flex'>
      {
        footerLinks.website && (
          <a
            href={footerLinks.website.url}
            target='_blank'
            rel='noopener noreferrer'
          >
            {footerLinks.website.name}
          </a>
        )
      }
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(44 44 44);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1560px;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: whitesmoke;

    a {
      color: rgba(6, 6, 6, 0.854);
    }

    &:hover {
      color: rgb(6, 6, 6);
    }
  }
</style>
